<!-- Custom CSS -->
<link href="css/3-col-portfolio.css" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{model.sourceName}}
                <small>Latest News</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Feed One -->
    <div class="row">
        <div ng-repeat="article in model.newsFeeds.articles">
        <div class="col-md-5">
            <img class="img-responsive" src={{article.urlToImage}} alt="" height="200" width="400"> </img>
        </div>
        <div class="col-md-7">
            <h3>
                <a ng-click="model.dispNewsDetails(article)">{{article.title}}</a>
            </h3>
            <p>{{article.description}}</p>
        </div>
            <div class="col-md-12"><hr></div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
