

    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">
    <link href="../../../css/simple-sidebar.css" rel="stylesheet">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <!--<a href="#">
                        Start Bootstrap
                    </a>-->
                </li>
                <li>
                    <a href="#profile/{{model.userId}}"><span class="glyphicon glyphicon-user"></span> Profile</a>
                </li>
                <li>
                    <a href="#favorites/{{model.userId}}"><span class="glyphicon glyphicon-heart"></span> Favorites</a>
                </li>
                <li>
                    <a href="#comments/{{model.userId}}"><span class="glyphicon glyphicon-comment"></span> My Comments</a>
                </li>
                <li ng-show="model.adminUserFlag">
                    <a href="#manageUsers/{{model.userId}}"><span class="glyphicon glyphicon-cog"></span> Manage Users</a>
                </li>
                <li ng-show="model.adminUserFlag">
                    <a href="#addAdmin/{{model.userId}}"><span class="glyphicon glyphicon-cog"></span> Add Admin</a>
                </li>
                <!--<li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <form>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input ng-model="model.user.name" type="name" class="form-control" id="name" value="{{model.user.name}}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input ng-model="model.user.email" type="email" class="form-control" id="email" value="{{model.user.email}}">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input ng-model="model.user.password" type="password" class="form-control" id="pwd" value="{{model.user.password}}">
                            </div>
                            <button ng-click="model.updateUser(model.user)" type="submit" class="btn btn-default">Update</button>
                        </form>

                        <br/>
                        <div ng-show="model.userUpdated" class="alert alert-success small">
                            Profile Updated !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
   <!-- <script src="js/jquery.js"></script>-->

    <!-- Menu Toggle Script -->
 <!--   <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>-->
