<!-- Custom CSS -->
<link href="css/blog-post.css" rel="stylesheet">

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{model.article.title}}</h1>

            <!-- Author -->
            <p class="lead">
               <div ng-show="{{model.article.author}}"> by <a target="_blank" href="{{model.article.url}}">{{model.article.author}}</a> </div>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{model.article.publishedAt | date : "medium"}}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{model.article.urlToImage}}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{model.article.description}} <a target="_blank" href="{{model.article.url}}" class="btn btn-link">Read more on {{model.sourceId}}...</a> </p>

            <hr>

            <!-- Blog Comments -->

            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea ng-model="comment.commentText" class="form-control" rows="3"></textarea>
                    </div>

                    <button ng-click="model.addComment(comment)" type="submit" class="btn btn-primary">Submit</button>

                </form>

                <div ng-show="model.loginCommentAlert" class="alert alert-warning small">
                    Please login to enter a comment!
                </div>

            </div>

            <hr>

            <!-- Posted Comments -->

            <!-- Comment -->
            <div ng-repeat="comment in model.comments" class="media">
                <a class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.createdByUser.name}}
                        <small>{{comment.date | date : "medium"}} </small>
                    </h4>
                    {{comment.commentText}}
                </div>
            </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Add to Favorites</h4>
                <div class="input-group">
                    <span class="input-group-btn">
                           <button ng-click="model.addArticleToFavorites()" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-star"></span>
                            </button>
                    </span>
                </div>
                <br/>
                <div ng-show="model.loginFavoritesAlert" class="alert alert-warning small">
                    Please login to add this article to your favorites !
                </div>
                <div ng-show="model.articleAddedAlert" class="alert alert-success small">
                    Article added to your favorites !
                </div>
                <div ng-show="model.articleRemovedAlert" class="alert alert-danger small">
                    Article removed from your favorites !
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>About Article</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <hr>

</div>