<!-- Navigation -->
<!--<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">Latest News</a>
        </div>

        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="post.html">Sample Post</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <a ng-hide="model.logoutLink" class="navbar-brand" href="#login">Login</a>
                <a ng-show="model.logoutLink" class="navbar-brand" href="#login">Logout</a>
            </ul>
        </div>
        &lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>
    &lt;!&ndash; /.container &ndash;&gt;
</nav>-->

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>News </h1>
                    <hr class="small">
                    <span class="subheading">Your ultimate news destination !</span>
                    <hr class="small">

                    <div class="row">

                        <div class="btn-group" role="group">

                                <select ng-model="model.selectedCountry" ng-options="x for x in model.countries" class="btn btn-default">
                                    <option value="">Country.</option>
                                </select>

                        </div>

                        <div class="btn-group" role="group">

                            <select ng-model="model.selectedCategory" ng-options="x for x in model.categories" class="btn btn-default">
                                <option value="">Category</option>
                            </select>

                        </div>

                        <button ng-click="model.getSources(model.selectedCountry, model.selectedCategory)" type="button" class="btn btn-default btn-success">Go!</button>

                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
<!-- News Sources Row -->
    <div class="row">

        <div ng-repeat="source in model.newssources" class="col-md-6 portfolio-item">
            <a ng-click="model.getNewsFeeds(source)">
                <img class="img-responsive" src="{{source.urlsToLogos.small}}" alt="">
            </a>
            <h3>
                <a ng-click="model.getNewsFeeds(source)">{{source.name}}</a>
            </h3>
            <p>{{source.description}}</p>
        </div>

    </div>
</div>
<!-- /.row -->
<hr>


<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>