<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/map-home-bg.jpg')">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>NewsNest </h1>
                    <hr class="small">
                    <span class="subheading">Your ultimate news destination !</span>
                    <hr class="small">

                    <div class="row">

                        <div class="btn-group" role="group">

                            <select ng-model="model.selectedCategory" ng-options="x for x in model.categories" class="btn btn-default">
                                <option value="">Category</option>
                            </select>

                        </div>

                        <button ng-click="model.getSources(model.selectedCategory)" type="button" class="btn btn-default btn-success">Go!</button>

                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
<!-- News Sources Row -->

        <!-- First Featurette -->
        <div ng-repeat="source in model.newssources">
            <div class="featurette row" id="about">

                <div class="col-md-3">
                    <img class="featurette-image img-circle img-responsive pull-left" src="https://icons.better-idea.org/icon?url={{source.url}}&size=80..100..120" width="120" height="120">
                </div>
                <div class="col-md-9">
                    <h2 class="featurette-heading">
                        <span class="text-muted"><a ng-click="model.getNewsFeeds(source)">{{source.name}}</a></span>
                    </h2>
                    <p class="lead">{{source.description}}</p>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>

    <!--</div>-->
</div>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>
