<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>NewsNest </h1>
                    <hr class="small">
                    <span class="subheading">Your ultimate news destination !</span>
                    <hr class="small">

                    <div class="row">

                       <!-- <div class="btn-group" role="group">

                                <select ng-model="model.selectedCountry" ng-options="x for x in model.countries" class="btn btn-default">
                                    <option value="">Country.</option>
                                </select>

                        </div>-->

                        <div class="btn-group" role="group">

                            <select ng-model="model.selectedCategory" ng-options="x for x in model.categories" class="btn btn-default">
                                <option value="">Category</option>
                            </select>

                        </div>

                        <button ng-click="model.getSources(model.selectedCategory)" type="button" class="btn btn-default btn-success">Go!</button>

                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
<!-- News Sources Row -->
    <div class="row">

        <div ng-repeat="source in model.newssources" class="col-md-6 portfolio-item">
            <a ng-click="model.getNewsFeeds(source)">
                <img class="img-responsive" src="{{source.urlsToLogos.small}}" alt="">
            </a>
            <h3>
                <a ng-click="model.getNewsFeeds(source)">{{source.name}}</a>
            </h3>
            <p>{{source.description}}</p>
        </div>

    </div>
</div>
<!-- /.row -->
<hr>


<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>
