<link href="../../../css/custom-login.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to the NEWS</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin">
                    <input ng-model="user.username" type="text" class="form-control" placeholder="Username" required autofocus>
                    <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
                    <div ng-show="model.alert" class="alert alert-danger small">
                        Invalid username or password !
                    </div>
                    <button ng-click="model.findUserByCredentials(user)" class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <!--<label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>-->
                    <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                </form>
            </div>
            <a href="#register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>